@import 'tailwindcss';
@import "flowbite/src/themes/default";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../node_modules/flowbite";

@plugin "@tailwindcss/typography";
@plugin "flowbite/plugin";

@theme {
    --font-sans: 'Inter', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    --color-body: var(--color-gray-800);
    --color-hover: #1E40AF;
    --color-secondary: #005253;
    --color-koamaru: #11296b;
    --color-lkoamaru: #00509d;
    --color-endeavour: #00509d;
    --color-matcha: #00905d;
    --color-malachite: #09e85e;
    --color-supernova: #ffcb05;

    --animate-fadeInUp: fadeInUp 0.6s ease-out;
    --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    --background-image-faq: url('../images/bg-faq.png');
    --background-image-faq-mobile: url('../images/bg-faq-m.png');
    --background-image-about-us: url('../images/bg-tentang.png');
    --background-image-about-us-mobile: url('../images/bg-tentang-m.png');
    --background-image-hero: url('../images/bg-hero.png');
}

@keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(30px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
